.btn_small {
    height: 26px;
    width: 82px;
    margin: 5px 5px;
    padding-top: 1px;
    border: none;
    border-radius: 4px;
    background-color: #5F72CC;

    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
}

.btn_wide {
    height: 35px;
    width: 180px;
    margin: 5px 5px;
    padding-top: 5px;
    border: none;
    border-radius: 4px;
    background-color: #5F72CC;

    line-height: 24px;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
}

.btn_square {
    background-color: #5F72CC;
    color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    padding-top: 5px;
    border-radius: 6px;
}



.task_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


@media only screen and (min-width: 800px) {
    .individual_task_header {
        display: flex;
        justify-content: space-between;
        width: 50%;
        align-self: center;
        margin: auto;
    }
    #site_logo {
        padding-left: 15px;
    }
}

@media only screen and (min-width: 1120px) {
    .individual_task_header {
        width: 70%;
    }
}

.completed_task .collapsible-header {
    background-color: #ececec;
}

.task_header {
    margin-top: 5px;
    padding-left: 10px;
}

.site_header {
    background-color: #5F72CC ;
}