{% extends 'base.html' %}
{% block content %}


    <ul class="collapsible">
        {% for task in not_completed %}
            <li>
                <div class="collapsible-header">
                    <div class="col s3">
                        {% if task.is_urgent %}
                            <i class="material-icons" style="color:red;">flag</i>
                        {% else %}
                            <i class="material-icons">remove</i>
                        {% endif %}
                    </div>
                    <div class="col s3">
                        <i class="material-icons">arrow_drop_down</i>
                        <a href="{{url_for('toggle_complete', task_id=task._id)}}?done=True" class="waves-effect waves-light btn_small green">Done</a>
                        <a href="{{url_for('edit_task', task_id=task._id)}}" class="waves-effect waves-light btn_small blue">Edit</a>
                    </div>
                    <div class="col s3 task_header">
                        {{task.task_name}}  -  {{task.due_date}}  -  {{task.category_name}}
                    </div>
                </div>
                <div class="collapsible-body">
                    <span>
                        {{task.task_description}}
                    </span>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% if show_completed %}
        <a href="{{url_for('get_tasks')}}" class="waves-effect waves-light btn_wide blue">Hide Completed</a>
    {% else %}
        <a href="{{url_for('get_tasks')}}?show_completed=True" class="waves-effect waves-light  btn_wide blue">Show Completed</a>
    {% endif %}

    {% if show_completed %}
        <ul class="collapsible">
            {% for task in completed %}
                <li class="">
                    <div class="collapsible-header completed_task" style="background-color: #ececec;">
                        <div class="col s3">
                            {% if task.is_urgent %}
                                <i class="material-icons">flag</i>
                            {% else %}
                                <i class="material-icons">remove</i>
                            {% endif %}
                        </div>
                        <div class="col s3">
                            <i class="material-icons">arrow_drop_down</i>
                            <a href="{{url_for('toggle_complete', task_id=task._id)}}" class="waves-effect waves-light btn_small grey">Restore</a>
                            <a href="{{url_for('delete_task', task_id=task._id)}}" class="waves-effect waves-light btn_small red">Delete</a>
                        </div>
                        <div class="col s3 task_header">
                            {{task.task_name}}  -  {{task.due_date}}  -  {{task.category_name}}
                        </div>
                    </div>
                    <div class="collapsible-body">
                        <span>
                            {{task.task_description}}
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock%}