{% extends 'base.html' %}
{% block content %}


    <ul class="collapsible">
        {% for task in tasks %}
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">crop_square</i>
                    <i class="material-icons">arrow_drop_down</i>
                    {% if task.is_urgent %}
                        <i class="material-icons">flag</i>
                    {% endif %}

                    {{task.task_name}}  -  {{task.due_date}}  -  {{task.category_name}}
                </div>
                <div class="collapsible-body">
                    <span>
                        {{task.task_description}}
                    </span>
                </div>
            </li>







    {% endfor %}

    </ul>

{% endblock%}